users:
  admin:
    displayname: Admin
    password: "$argon2id$HASH"
    email: admin@habak.midburn
    groups:
      - midburn-ops-admin


  sahbak:
    displayname: Sahbak
    password: "$argon2id$HASH"
    email: user@habak.midburn
    groups:
      - midburn-ops-user
